.body{
    width: 100%;
    height: 100vh;
    background: dodgerblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    width: 300px;
    min-height: 280px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: aquamarine;
    border-radius: 14px;
}
.form__inp{
    width: 260px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin: 15px 0;
}
.form__btn{
    width: 120px;
    height: 30px;
    border-radius: 10px;
    border: none;
}
.form__tit{
    text-align: center;
    color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.formName__text{
    color: crimson;
    font-weight: bold;
    position: absolute;
    top: 142px;
    left: 20px;
font-style: italic;

    font-size: 13px;
    padding: 0;
}
.formPass__text{
    color: crimson;
    font-weight: bold;
    position: absolute;
    top: 202px;
    left: 20px;
font-style: italic;
    font-size: 13px;
    padding: 0;
}